
<center>
<h1>Welcome <%= @user.username.capitalize%></h1>
<h2><%=@user.company.name%></h2>
<h3>Listings</h3>
<% @user.company.properties.each do |p|%>

<p><%=link_to p.address, user_property_path(@user,p)%> <strong><%=p.status%></strong></p>

<% end %>

<%= button_to "add property", new_user_property_path(current_user, @property), method: :get%>

<h4><%= button_to 'Log Out', destroy_user_session_path, method: :delete%></h4>
</center>

    