<center><h1>Add Client To <%=@property.address%></h1>

<%= form_for [current_user, @property, @client] do |f|%>
<%= f.label :name%>
<%= f.text_field :name%>
<br>
<%= f.label :email%>
<%= f.email_field :email%>
<br>
<%= f.submit%>

<% end %>
</center>

